.swiper-lazy-preloader,
.swiper-slide .swiper-lazy-preloader
  width: 20px
  height: 20px
  margin-left: -10px
  margin-top: -10px
  border-color: #fafafa
  border-top-color: transparent

.swiper-lazy
  opacity: 0
  transition: all 0.5s ease-in-out

.swiper-lazy-loaded
  opacity: 1

.swiper-pagination-bullet
  width: 32px
  height: 4px
  border-radius: 0
  background: theme('colors.main')
  opacity: 0.3
  &.swiper-pagination-bullet-active
    opacity: 1

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
  margin: 0 8px

.swiper-container-horizontal > .swiper-pagination-bullets
  padding: 0
  display: flex
  justify-content: center
  bottom: 32px
  @media (min-width: $screen-sm-min)
    bottom: 31px
  @media (min-width: $screen-lg-min)
    bottom: 23px

.swiper-button-prev,
.swiper-button-next
  width: 21px
  height: 76px
  position: absolute
  top: 50%
  transform: translateY(-50%)
  transition: all 0.7s ease-in-out
  display: none
  @media (min-width: $screen-xl-min)
    display: block
  &:focus
    outline: none
  &.swiper-button-disabled
    opacity: 0.2

.swiper-button-prev
  background: url(../img/slider-left.svg)

.swiper-button-next
  background: url(../img/slider-right.svg)

.swiper-button-prev
  left: -50px
  @media (min-width: $screen-sm-min)
    left: -35px
  @media (min-width: $screen-lg-min)
    left: -50px

.swiper-button-next
  right: -50px
  @media (min-width: $screen-sm-min)
    right: -35px
  @media (min-width: $screen-lg-min)
    right: -50px