html
  +font-smoothing(on)
  scroll-behavior: smooth

*
  scroll-margin-top: 20px
  @media (min-width: $screen-lg-min)
    scroll-margin-top: 50px

body
  @apply font-sans text-color-text text-15
  @media (min-width: $screen-sm-min)
    @apply text-16
  &.show-screen-size
    &:after
      position: fixed
      left: 50%
      bottom: 0px
      width: 160px
      background: #000
      color: #fff
      content: '[TINY] 0px-374px'
      text-align: center
      padding: 5px
      font-size: 12px
      z-index: 9999
      border-top-right-radius: 5px
      border-top-left-radius: 5px
      margin-left: -80px
      @screen mini
        content: "[MINI] 375px-479px"
      @screen xs
        content: "[XS] 480px-767px"
      @screen sm
        content: "[SM] 768px-991px"
      @screen md
        content: "[MD] 992px-1199px"
      @screen lg
        content: "[LG] 1200px-1499px"
      @screen xl
        content: "[XL] 1500px-1899px"
      @screen xxl
        content: "[XXL] 1900px-∞"
