.c-btn
  +fluid-type(16px, 18px)
  font-family: $font-main
  font-weight: normal
  display: inline-block
  background: $color-main
  padding: 0.4em 1em
  color: #fff
  border: 0
  text-decoration: none
  cursor: pointer
  border-radius: 5px
  white-space: nowrap
  vertical-align: middle
  user-select: none
  &:hover,
  &.btn--hover
    background: darken($color-main, 20%)
    text-decoration: none
  &:focus,
  &:active,
  &:active:focus
    outline: none
  &[disabled]
    background: #ccc
    color: #000

.c-btn--cookie
  padding: 0.3em 0.8em 0.3em 0.8em
  +fluid-type(16px, 18px)
  margin: 0 5px 5px 0

.c-btn--mini
  padding: 0.1em 0.4em
  +fluid-type(12px, 13px)
