ul.c-hor-menu
  list-style: none
  padding: 0
  margin: 0
  & > li
    display: inline-block
    position: relative
    &.opened
      .sub-menu
        opacity: 1
        pointer-events: auto
        transform: translateY(0)
        left: 0
        transition: opacity 0.2s cubic-bezier(0.55, 0, 0.1, 1) 0.1s, transform 0.2s cubic-bezier(0.55, 0, 0.1, 1) 0.1s, left 0s 0s ease
      & > a:before
        width: 100%
    & > a
      display: inline-block
      padding: 0.2em 0.8em
      text-decoration: none
      border-radius: 5px
      color: $color-text
      &:hover,
      &:focus
        text-decoration: none
        color: $color-main
    &.menu-item-has-children
      & > a
        padding-right: 1.5em
        &:after
          content: ' '
          position: absolute
          right: 5px
          top: 50%
          margin-top: -2px
          width: 0
          height: 0
          border-style: solid
          border-width: 5px 5px 0 5px
          border-color: #222 transparent transparent transparent
    &.current-menu-item a,
    &.current_page_parent a
      background: lighten($color-main, 20%)
      color: #fff
  .sub-menu
    position: absolute
    top: auto
    left: -10000px
    background: #fff
    margin: 0
    padding: 6px 0 10px 0
    list-style: none
    line-height: 1.2
    box-shadow: 1.4px 1.4px 6px rgba(2, 2, 3, 0.16)
    border-radius: 0
    z-index: 999
    transform: translateY(10px)
    opacity: 0
    pointer-events: none
    text-align: left
    font-size: 0.8rem
    font-weight: normal
    transition: left 0.5s 0.5s ease-in-out, opacity 0.2s 0.1s cubic-bezier(0.55, 0, 0.1, 1), transform 0.2s 0.1s cubic-bezier(0.55, 0, 0.1, 1)
    width: auto
    @media screen and (min-width: $screen-md-min)
      font-size: 1rem
    @media screen and (min-width: $screen-lg-min)
      font-size: 1.08rem
    li
      display: block
    a
      display: block
      text-decoration: none
      font-weight: normal
      padding: 0.5em 1em
      white-space: nowrap
    li.current-menu-item a,
    a:hover
      color: $color-main
