.browserupgrade
  text-align: center
  margin: 0 auto
  background: #FC0
  color: #000
  padding: .8em 0
  font-size: 14px
  a
    color: darken(#FC0, 25%)
    text-decoration: underline
    &:hover
      text-decoration: none
